- model_class = Feedback
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:comment)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @feedbacks.each do |feedback|
      %tr
        %a
          %td= link_to feedback.id, feedback_path(feedback)
          %td= link_to feedback.name, feedback_path(feedback)
          %td= link_to feedback.email, feedback_path(feedback)
          %td= link_to feedback.comment, feedback_path(feedback)
          %td=l feedback.created_at
          %td
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_feedback_path(feedback), :class => 'btn btn-mini'

= link_to t('.new', :default => t("helpers.links.new")), new_feedback_path, :class => 'btn btn-primary'
